* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--primary-color);
    transition: background 0.2s linear;
}

i {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: var(--third-color);
    border-radius: 1.5rem;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

i:hover {
    background-color: var(--secondary-color);
}

:root{
    /* light-mode */
    --primary-color: #E8E9F3;
    --secondary-color: #00CC99;
    --third-color: #000;
    --fourth-color: #0aa674;
    --fifth-color: rgba(58, 58, 58, 0.16);
}

.dark-theme{
    /* dark-mode */
    --primary-color: #1a1a1a;
    /*golden effect*/
    /*color: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);*/
    --secondary-color: #9905e7;
    --third-color: #ffffff;
    --fourth-color: #a736e8;
    --fifth-color: rgba(232, 232, 232, 0.8);
}

#icon{
    border-radius: 1.5rem;
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    position: fixed;
    top: 1.5rem;
    right: 3rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--fifth-color) 0 0.3rem 0.5rem;
}

#icon:hover{
    transition: background 0.2s linear;
    background-color: var(--fourth-color);
}


i {
    font-size: 2rem;
    margin: 3rem 1rem 1rem 3rem;
    padding: 1rem;
    color: var(--primary-color);
    border-radius: 1.5rem;
    background-color: var(--secondary-color);
    transition: background 0.2s linear;
}

i:hover {
    background-color: var(--fourth-color);
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
}

header .head {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 700px;
}

header .head h1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 5rem;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
}

.container {
    display: grid;
    grid-template-columns: 9rem 25rem 23rem;
    justify-content: center;
    color: #444;
    grid-gap: 0.5rem;
}

.box {
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.images {
    width: 100%;
    /*max-width: 100%;*/
    max-height: 100%;
    object-fit: contain;
    border-radius: 1.5rem;
    box-shadow: rgba(58, 58, 58, 0.16) 0 1rem 1rem;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 5;
}

.item3 {
    grid-column: 1;
    grid-row: 2;
}

.item4 {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.item5 {
    grid-column: 1;
    grid-row: 3;
}

.item6 {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.item7 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

@media screen and (max-width: 825px) and (min-width: 417px) {
    body {
        padding: 2rem;
        width: 820px;
    }

    header .head {
        width: 820px;
        height: 680px;
    }

    .container {
        display: grid;
        grid-template-columns: 6rem 12rem 11rem;
        justify-content: center;
        grid-gap: 0.5rem;
    }
}

@media screen and (max-width: 416px) {
    body {
        padding: 0.5rem;
        width: 414px;
    }

    header .head {
        width: 414px;
        height: 500px;
    }

    header .head h1 {
        color: #00CC99;
        font-weight: 700;
        font-size: 3rem;
        font-family: 'Merriweather', sans-serif;
        font-style: italic;
    }


    /*https://gridbyexample.com/examples/example7*/
    /*hier zocht ik naar methodes om de afbeeldingen te kunne plaatsen zoals ik had voorzien in mijn design*/
    .container {
        display: inline-block;
        grid-template-columns: 4.66rem 10rem 10.2rem;
        justify-content: center;
        color: #444;
        grid-gap: 0;
    }
}